body {
   background-image: url("./bg.png");
 background-color: black;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100%;


}
.heading {
    transition: color 1s;

}
.layer1_class{
  z-index: 0;
  top: 100px;
  left: 100px;
 position: absolute;

  visibility: visible;
}
.layer2_class{
z-index: 1;
visibility: hidden;
position: initial;
}
.heading:hover {
    color : red;
}
#rowone {
padding : 20px;
}
p {
    font-weight: 100;
}
.coll {
     align-content: center;
     margin-top : auto;
    margin-bottom: auto;
    }
.cardPad {
   margin-left: auto;
   margin-right: auto;
  margin-bottom : 25px;
  margin-top: 0px;
   transition: height 2s;
}
.cardPad:hover {
  height: 180px;
}
span {
    transition: width 1s, height 1s;
}
span:hover {
    width: 200px;
    height: 100px;
}
i {

    transition-property: font-size 1s;
}
i:hover {
   font-size: 100px;
}
.cardPad:hover {
   width: 200px;
   height: 200px;
}
