@font-face {
  /* font credit goes to II year cse guys */
  font-family: 'harry';
  src: URL('./harry.ttf') format('truetype');
}

body {
   background-image: url("./bg.png");
 background-color: black;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100%;


}

.layer1_class{
  font-family: harry;
  font-size: 1000%;
  text-align: center;
  z-index: 0;
  color: white;
  position: fixed;
  /* background-image: url("./loading.gif"); */
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  visibility: visible;

  /* putting in middle vertically */
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  /* animation section here (easter egg: bashar) */
  white-space: nowrap;
  overflow: hidden;
}

/* Typing animation */
/* .navtch-filter-example__filtered-text {
    filter: url(#filter);
    fill: white;
    font-family: 'Share Tech Mono', sans-serif;
    font-size: 100px;
    text-align: center;
    margin: 0;
    padding: 0;
    display: block;
}
.anim-typewriter{
  width: 7.3em;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
} */

@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}


.layer2_class{
z-index: 1;
visibility: hidden;
position: initial;
}
.heading:hover {
    color : red;
}
#rowone {
padding : 20px;
}
p {
    font-weight: 100;
}
.coll {
     align-content: center;
     margin-top : auto;
    margin-bottom: auto;
    }
.cardPad {
  height: 240px;
  width: 240px;
   margin-left: auto;
   margin-right: auto;
   display: flex;
  margin-bottom : 25px;
  margin-top: 25px;
   transition: height width 1s;
}
.cardPad:hover {
  height: 300px;
  width: 300px;
}
span {
    transition: width 1s, height 1s;
}
span:hover {
    width: 200px;
    height: 100px;
}
i {

    transition-property: font-size 1s;
}
i:hover {
   font-size: 100px;
}
.cardPad:hover {
   width: 200px;
   height: 200px;
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  opacity: 70%;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  
  color: #818181;
  display: block;
  
}



.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav_button {
  display: block;
  font-size: 60px;
  font-weight: 100;
  color: white;
  border: none;
  background-color: transparent;
  text-decoration: none;
  float: left;
  opacity: 80%;
  top: 1px;
  left: 2px;
  z-index: 0;
  position: fixed;
  top:0;
}
