body {
 background-color:black;
background-repeat: no-repeat;
background-size: auto;

}
#rowone {
padding : 20px;
} 
.coll {
     align-content: center;
     margin-top : auto;
    margin-bottom: auto;
    }
.cardPad {
   margin-left: auto;
   margin-right: auto;
  margin-bottom : 25px;
  margin-top: -10px;;
   
}
